<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="startDate">Start:</label>
      <div class="input-group">
        <input id="startDate" type="text" class="form-control" aria-label="Start date"
               dlDateTimeInput
               [dlDateTimeInputFilter]="startDateInputFilter"
               [(ngModel)]="startDate">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle start-date" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="oi oi-calendar"></i></button>
          <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
            <div style="width:360px;">
              <dl-date-time-picker [(ngModel)]="startDate" (change)="startDateSelected($event)"
                                   [selectFilter]="startDatePickerFilter"></dl-date-time-picker>
            </div>
          </div>
        </div>
        <div class="invalid-feedback">
          Please enter or choose a start time after the current time.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="endDate">End:</label>
      <div class="input-group">
        <input id="endDate" type="text" class="form-control" aria-label="End date"
               dlDateTimeInput
               [dlDateTimeInputFilter]="endDateInputFilter"
               [(ngModel)]="endDate">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle end-date" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="oi oi-calendar"></i></button>
          <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
            <div style="width:360px;">
              <dl-date-time-picker [(ngModel)]="endDate" [(startDate)]="startDate" (change)="endDateSelected($event)"
                                   [selectFilter]="endDatePickerFilter"></dl-date-time-picker>
            </div>
          </div>
        </div>
        <div class="invalid-feedback">
          Please enter or choose an end time after the start time.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="minDuration">Minimum duration (minutes):</label>
      <input id="minDuration" type="number" class="form-control" aria-label="Minimum duration" [(ngModel)]="minDuration">
    </div>
    <div class="form-check">
      <input id="disablePastDates" type="checkbox" class="form-check-input" [(ngModel)]="disablePastDates">
      <label class="form-check-label" for="disablePastDates">Disable past dates?</label>
      <small class="form-text text-muted">Changing this value <em>does not</em> cause the date/time piker to re-render.
        To see the changes take effect, change the current picker view.
      </small>
    </div>
  </div>

  <div class="col">
    <p>Date Ranges add complexity. In this example, I try to provide an implementation that fulfils the following
      requirements.</p>
    <ul>
      <li>Use standard Bootstrap 4 functionality - no third party libraries.</li>
      <li>Date picker will disable start dates after the end date, if end date is set.</li>
      <li>Date picker will disable end dates less than the start date, if start date is set.</li>
      <li>Date picker will allow the user to select start/end dates in any order.</li>
      <li>If, when picking the start date, the end dates is before the start date then the end
        date will be cleared.
      </li>
      <li>Able to specify a minimum time duration in minutes and have the date picker enforce the duration for end dates.</li>
      <li>Optionally: disable selecting dates in the past...local time only.</li>
    </ul>
    <p>Of course, your requirements are likely different but hopefully this example demonstrates that complex
      functionality can be implemented easily with this component.</p>
  </div>
</div>
